<!DOCTYPE html>
<html xmlns:th="http://thmyelead.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body layout:fragment="body">
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#!">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Blog</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page header with logo and tagline-->

<!-- Page content-->
<div  class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-12">

            <div class="row">

                <form role="form" method="post" th:action="@{/clubs/new}" th:object="${club}">
                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="titulo_label">Titulo</label>
                            <input type="text" class="form-control" id="titulo_label" placeholder="Titulo" name="titulo" th:field="*{titulo}">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="descr_label">Descrição do Conteúdo</label>
                            <input type="text" class="form-control" id="descr_label" placeholder="Descrição do Conteudo" name="conteudo" th:field="*{conteudo}">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="foto_label">Descrição do Conteúdo</label>
                            <input type="text" class="form-control" id="foto_label" placeholder="foto url" name="fotoUrl" th:field="*{fotoUrl}">
                        </div>
                    </div>



                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>




            </div>


        </div>

    </div>
</div>
</body>

