<html xmlns:th="http://thmyelead.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div class="container" layout:fragment="body">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <form role="form" method="post" th:action="@{/clubs/new}" th:object="${club}">
                <div class="form-row">

                    <div class="form-group col-md-12">
                        <label for="titulo_label">Titulo</label>
                        <input type="text" class="form-control" id="titulo_label" placeholder="Titulo" name="titulo" th:field="*{titulo}">
                        <p th:if="${#fields.hasErrors('titulo')}" class="text-danger" th:errors="*{titulo}"></p>

                    </div>

                    <div class="form-group col-md-12">
                        <label for="descr_label">Descrição do Conteúdo</label>
                        <input type="text" class="form-control" id="descr_label" placeholder="Descrição do Conteudo" name="conteudo" th:field="*{conteudo}">
                        <p th:if="${#fields.hasErrors('conteudo')}" class="text-danger" th:errors="*{conteudo}"></p>

                    </div>

                    <div class="form-group col-md-12">
                        <label for="foto_label">URL da foto</label>
                        <input type="text" class="form-control" id="foto_label" placeholder="foto url" name="fotoUrl" th:field="*{fotoUrl}">
                        <p th:if="${#fields.hasErrors('fotoUrl')}" class="text-danger" th:errors="*{fotoUrl}"></p>

                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Criar</button>
            </form>



        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>
