<!DOCTYPE html>
<html xmlns:th="http://thmyelead.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">spring MVC</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>

<body layout:fragment="body"></body>


<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</html>